<html xmlns:th="https://www.thymeleaf.org">
	<div th:replace="fragment/header :: header">
	
	</div>
	<div class="container">
		<h3 style="margin-top: 10px">Account Lists</h3>
		<div>
			<a href="../account/addaccount" class="btn btn-primary">Add New Account</a>
		</div>
		<div style="margin-top: 10px"></div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account Number</th>
					<th scope="col">Customer</th>
					<th scope="col">Type of Account</th>
					<th scope="col">Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center" colspan="9" 
						th:if="${#lists.size(accounts) == 0}" 
						th:text="'No Data To Display'" />
				</tr>
				<tr th:each="account, iter: ${accounts}">
					<th scope="row" th:text="${iter.count}" />
					<td scope="row" th:text="${account.accountNumber}"></td>
					<td scope="row" th:text="${account.customer.customerNumber} + ' - ' + ${account.customer.getFullName()}"></td>
					<td scope="row" th:text="${account.accountType.accountTypeName}"></td>
					<td scope="row" th:text="'$' + ${#numbers.formatDecimal(account.balance, 0, 'COMMA', 2, 'POINT')}"></td>
				</tr>
				<tr>
					<th style="font-size:26px" colspan="4" th:text="'Net Liquidity: ' + '$' + ${#numbers.formatDecimal(liquidity, 0, 'COMMA', 2, 'POINT')}"></th>
				</tr>
			</tbody>
		</table>
	</div>
</html>