<div xmlns:th="https://www.thymeleaf.org">
	<div th:replace="fragment/header :: header">
	
	</div>
	<div class="container" style="margin-top:15px;">
		<h3>Welcome to Midwest Ten Bank</h3>
		<hr/>
		<p>
			When you open a checking account from MidWestOne you get convenience, security and a team of bankers who’ve got your back. Choose between our four checking accounts to find the one for you.
			Want to check your account balance? Deposit a check? Transfer money between accounts? Our online and mobile banking tools let you safely manage your money whenever you have Internet access.*
		</p>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
	</div>
</div>